[submodule "backends/ninfer"]
	path = backends/ninfer
	url = https://github.com/soohl/ninfer.git
	branch = master
[submodule "backends/llamacpp"]
	path = backends/llamacpp
	url = https://github.com/soohl/llama.cpp.git
	branch = cook-4090
